<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
	id="org.sintef.rsm.comet.bm.profile"
   	name="COMET Business Profile (Plugin)"
   	version="1.2.0"
   	provider-name="SINTEF ICT">

  	<requires>
     	<import plugin="com.ibm.xtools.emf.msl"/>
     	<import plugin="com.ibm.xtools.uml.msl"/>
  	</requires>

  	<extension id="COMET_BM_PROFILE" name="profiles" point="org.eclipse.gmf.runtime.emf.core.Pathmaps">
    	<pathmap path="profiles" name="COMET_BM_PROFILE" />
  	</extension>

  	<extension id="COMET_Business_Profile" name="COMET Business Profile" point="com.ibm.xtools.uml.msl.UMLProfiles">
     	<UMLProfile name="COMET Business Profile" path="pathmap://COMET_BM_PROFILE/COMETBusinessProfile.epx" visible="true" />
  	</extension>

</plugin>
