<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.sintef.rsm.uml.ejb.profile"
   name="UML Profile for EJB (Plugin)"
   version="0.9.0"
   provider-name="SINTEF ICT">

  <requires>
     <import plugin="com.ibm.xtools.emf.msl"/>
     <import plugin="com.ibm.xtools.uml.msl"/>
  </requires>

  <extension id="EJB_PROFILES" name="EJB_PROFILES" point="org.eclipse.gmf.runtime.emf.core.Pathmaps">
      <pathmap path="Profiles" name="EJB_PROFILES" />
  </extension>

  <extension id="EJB_PROFILE" name="EJB_PROFILE" point="com.ibm.xtools.uml.msl.UMLProfiles">
     <UMLProfile name="EJB" path="pathmap://EJB_PROFILES/EJBProfile.epx" visible="true" /> 
  </extension>

</plugin>
