<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.sintef.rsm.uml.ws.wsdl.profile"
   name="UML Profile for WSDL (Plugin)"
   version="0.9.0"
   provider-name="SINTEF ICT">

   <requires>
      <import plugin="com.ibm.xtools.emf.msl"/>
      <import plugin="com.ibm.xtools.uml.msl"/>
   </requires>

  <extension id="WSDL_PROFILES" name="WSDL_PROFILES" point="org.eclipse.gmf.runtime.emf.core.Pathmaps">
      <pathmap path="Profiles" name="WSDL_PROFILES" />
  </extension>

  <extension id="WSDL_PROFILE" name="WSDL_PROFILE" point="com.ibm.xtools.uml.msl.UMLProfiles">
     <UMLProfile name="WSDL" path="pathmap://WSDL_PROFILES/WSDLProfile.epx" visible="true" /> 
  </extension>

</plugin>
