<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.sintef.rsm.uml.swradio.profile"
   name="UML Profile for SW Radio (Plugin)"
   version="0.9.0"
   provider-name="SINTEF ICT">

  <requires>
     <import plugin="com.ibm.xtools.emf.msl"/>
     <import plugin="com.ibm.xtools.uml.msl"/>
  </requires>

  <extension id="SW_RADIO_PROFILES" name="SW_RADIO_PROFILES" point="org.eclipse.gmf.runtime.emf.core.Pathmaps">
      <pathmap path="Profiles" name="SW_RADIO_PROFILES" />
  </extension>

  <extension id="SW_RADIO_PROFILE" name="SW_RADIO_PROFILE" point="com.ibm.xtools.uml.msl.UMLProfiles">
     <UMLProfile name="SW Radio" path="pathmap://SW_RADIO_PROFILES/SWRadioProfile.epx" visible="true" /> 
  </extension>

</plugin>
