<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.sintef.rsm.comet.sam.profile"
   name="COMET Service Architecture Profile (Plugin)"
   version="1.2.0"
   provider-name="SINTEF ICT">

  <requires>
     <import plugin="com.ibm.xtools.emf.msl"/>
     <import plugin="com.ibm.xtools.uml.msl"/>
  </requires>

  <extension id="COMET_SAM_PROFILE" name="profiles" point="org.eclipse.gmf.runtime.emf.core.Pathmaps">
      <pathmap path="profiles" name="COMET_SAM_PROFILE" />
  </extension>

  <extension id="COMET_Service_Architecture_Profile" name="COMET Service Architecture Profile" point="com.ibm.xtools.uml.msl.UMLProfiles">
     <UMLProfile name="COMET Service Architecture Profile" path="pathmap://COMET_SAM_PROFILE/COMETServiceArchitectureProfile.epx" visible="true" />
  </extension>

</plugin>
